<!--second section-->
<div class="row align-items-center justify-content-end vertical-left-right-timeline-text-row">
  <div class="col-6 text-right">
    <h5>{{ item.title }}</h5>
    <p>{{ item.description }}</p>
  </div>
  <div class="col-2 text-center full">
    <div class="circle">{{ item.number }}</div>
  </div>
</div>
<!--path between 2-3-->
<div class="row vertical-left-right-timeline-line-row">
  <div class="col-2">
    <div class="corner right-bottom"></div>
  </div>
  <div class="col-8">
    <hr/>
  </div>
  <div class="col-2">
    <div class="corner top-left"></div>
  </div>
</div>
